body{
    background-color: #FFE052;
}

main, footer, section, nav, a{
    max-width: 980px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
	background-color: #D9D7D4;
	color: #1F47FF;
}
nav, a {
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

header{
	background-color: #1F47FF;
	padding: 5px 0;
	align-items: center;
	justify-content: space-between;
	max-width: 980px;
	margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer{
    background-color: #1F47FF;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
}
footer{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.logo {
	display: flex;
	align-items: center;
    margin-right: 1rem;
}

.logo {
	width: 50px;
	height: auto;
}

.city-logo{
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    height: auto;
}

.footer-logo{
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    height: auto;
}

h1,h2{
    font-family: 'Oswald', sans-serif;
}
section{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

div{
    text-align: center;
    background-color: #D9D7D4;
    border: 1px solid black;
    margin: 10px;
}

main{
    display: block;
}


.main-links li:first-child{
    display: block;
}

.main-links li {
	display: none;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.footer-links{
    list-style: none;
    padding: 0;
}