body
{
    max-width: 960px;
    margin: 0 auto;
    background-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    display: grid;
    grid-template-columns: auto;
    background-color: blue;
}

ul{
    list-style-position: inside;
}
p{
    font-style: italic;
}
